* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
	background-color: #353633;
}

.banner {
	width: 100%;
	height: 100vh;
	background-image: url(../images/login-background.jpg);
	background-size: cover;
}

.navbar {
	width: 100%;
	margin: auto;
	padding: 10px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: rgba(0, 0, 0, 0.6)
}

.logo {
	padding: 0 0 0 65px;
	width: 200px;
	height: auto;
	cursor: pointer;
}

.navbar ul li {
	list-style: none;
	display: inline-block;
	margin: 0 15px;
	position: relative;
}

.navbar ul li a {
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
}

.navbar ul li::after {
	content: '';
	height: 3px;
	width: 0%;
	background: #fb2525;
	position: absolute;
	left: 0;
	bottom: -10px;
	transition: 0.35s;
}

.navbar ul li:hover::after {
	width: 100%;
}

.username {
	color: #fff;
	text-transform: uppercase;
	text-decoration: nonoe;
}

.username:hover {
	cursor: pointer;
}

.container {
	max-width: 700px;
	width: 100%;
	background: rgba(0, 0, 0, 0.8);
	padding: 25px 30px;
	border-radius: 5px;
	color: #fff;
}

.main {
	display: flex;
	justify-content: center;
	position: relative;
	top: 12%;
}

.boxes {
	border: none;
	border-bottom: 1px solid #fb2525;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}

body .ui-inputfield{
	border: none;
	border-bottom: 1px solid #fb2525;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}

.container .title {
	font-size: 25px;
	font-weight: 500;
}

.container form .input-detail {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 20px 0 12px 0;
}

form .input-detail .input-box {
	margin-bottom: 15px;
	width: 50%;
	padding-right: 100px;
}

.input-detail .input-box .details {
	display: block;
	font-weight: 500;
	margin-bottom: 5px;
}

.input-detail .input-box input {
	height: 45px;
	width: 100%;
	padding-left: 15px;
	font-size: 16px;
}

.buttonbox .button {
	border: none;
	outline: none;
	height: 45px;
	width: 70%;
	background: #fb2525;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
	margin-left: 15%;
}

.buttonbox .button:hover {
	cursor: pointer;
	background: ffc107;
	color: #000;
}