* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.banner {
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../images/index-background.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.navbar {
	width: 100%;
	margin: auto;
	padding: 10px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: rgba(0, 0, 0, 0.6)
}

.logo {
	padding: 0 0 0 65px;
	width: 200px;
	height: auto;
	cursor: pointer;
}

.navbar ul li {
	list-style: none;
	display: inline-block;
	margin: 0 15px;
	position: relative;
}

.navbar ul li a {
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
}

.navbar ul li::after {
	content: '';
	height: 3px;
	width: 0%;
	background: #fb2525;
	position: absolute;
	left: 0;
	bottom: -10px;
	transition: 0.35s;
}

.navbar ul li:hover::after {
	width: 100%;
}

.loginbutton {
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	display: block;
    width: 115px;
    height: 40px;
    background: #fb2525;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    line-height: 25px;
}

.loginbutton:hover {
	cursor: pointer;
	background: #fb2525;
	color: #000;
}

.regbutton {
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	border:2px solid #fb2525;
    display:block;          
    height:40px;
    width:145px;
	padding: 8px;
	text-align: center;
	border-radius: 20px;
	color: white;
	font-weight: bold;
	line-height: 25px;
}

.regbutton:hover {
	cursor:pointer;
	color: #ffc107;
}

.content {
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	color: #fff;
	height: 80%;
}

.mainbox {
	width: 1300px;
	height: 700px;
	color: #fff;
	top: 55%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 30px 30px;
	opacity: 100%;
	margin-bottom: 50px;
	background: rgba(0, 0, 0, 0.85);
}

